In [0]:
import numpy as np
import pandas as pd
import requests

In [0]:
url_base = "https://api.data.gov.sg/v1/technology/ipos/trademarks?lodgement_date="
date = "2017-12-12"

url = url_base+date

response = requests.get(url)

data = response.json()

In [41]:
df = pd.DataFrame(data['items'])
df.head()

  HMGcases  ... transformationApplicationMadridInto
0     None  ...                                None
1     None  ...                                None
2     None  ...                                None
3     None  ...                                None
4     None  ...                                None

[5 rows x 20 columns]

In [42]:
df_summary = pd.DataFrame(df.loc[0,'summary']).drop(columns='journals')
df_summary

  applicationType  filingDate  ... publicationDate applicationDate
0      Trade Mark  2017-12-12  ...      2018-04-06      2017-12-12

[1 rows x 16 columns]

In [43]:
df_goodsAndServicesSpecifications = pd.DataFrame(df.loc[0,'goodsAndServicesSpecifications'])[['classNum']]
df_goodsAndServicesSpecifications

   classNum
0  Class 19
1  Class 27

In [44]:
df_currentApplicantProprietorDetails = pd.DataFrame(df.loc[0, 'currentApplicantProprietorDetails'])
df_currentApplicantProprietorDetails

                                             address  ... uenCompanyCode
0  16 TAMPINES STREET 92<br/>EVORICH R&D BUILDING...  ...     200721632D

[1 rows x 8 columns]