In [0]:
import numpy as np
import pandas as pd
import requests

In [138]:
url_base = "https://api.data.gov.sg/v1/technology/ipos/trademarks?lodgement_date="
lodgement_date = "1999-10-25"

url = url_base+lodgement_date
response = requests.get(url)
data = response.json()
df = pd.DataFrame(data['items'])

df.head()

  HMGcases  ... transformationApplicationMadridInto
0     None  ...                                None
1     None  ...                                None
2     None  ...                                None
3     None  ...                                None
4     None  ...                                None

[5 rows x 20 columns]

In [139]:
result_index = 0

df_summary = pd.DataFrame([df.loc[result_index,'summary']], index=[0])
df_summary['lodgementDate'] = lodgement_date

applicationNum = df_summary['applicationNum'][0]
try:
  pd.DataFrame(df.loc[result_index, 'internationalApplicationDetails'])[['IRNum']]
except:
  df_summary['IRNum'] = None
else:
  IRNum = pd.DataFrame(df.loc[result_index, 'internationalApplicationDetails'])[['IRNum']][0]
  df_summary['IRNum'] = IRNum

try:
  pd.DataFrame(df.loc[result_index, 'markIndex'])[['wordsInMark']]
except:
  df_summary['wordsInMark'] = None
else:
  wordsInMark = pd.DataFrame(df.loc[result_index, 'markIndex'])[['wordsInMark']]
  df_summary['wordsInMark'] = wordsInMark

df_summary = df_summary[['applicationNum', 'tradeMarkType', 'wordsInMark', 'markStatus', 'lodgementDate', 'filingDate', 'registrationProcedureCompletionDate', 'expiryDate', 'IRNum']]
df_summary

  applicationNum      tradeMarkType  ... expiryDate IRNum
0      T9912061Z  Conventional Mark  ...       None  None

[1 rows x 9 columns]

In [140]:
df_goodsAndServicesSpecifications = pd.DataFrame(df.loc[result_index,'goodsAndServicesSpecifications'])[['classNum']]
df_goodsAndServicesSpecifications['applicationNum'] = applicationNum
df_goodsAndServicesSpecifications['classNum'] = df_goodsAndServicesSpecifications['classNum'].str.replace("Class ","").astype(int)
df_goodsAndServicesSpecifications = df_goodsAndServicesSpecifications[['applicationNum', 'classNum']]
df_goodsAndServicesSpecifications

  applicationNum  classNum
0      T9912061Z        17

In [141]:
df_currentApplicantProprietorDetails = pd.DataFrame(df.loc[result_index, 'currentApplicantProprietorDetails'])
df_currentApplicantProprietorDetails['applicationNum'] = applicationNum
df_currentApplicantProprietorDetails['applicantType'] = df_currentApplicantProprietorDetails['applicantType'].apply(lambda x: x['description'])
df_currentApplicantProprietorDetails['countryOfIncorporationOrResidence'] = df_currentApplicantProprietorDetails['countryOfIncorporationOrResidence'].apply(lambda x: x['code'])
df_currentApplicantProprietorDetails = df_currentApplicantProprietorDetails[['applicationNum', 'uenCompanyCode', 'name', 'applicantType', 'countryOfIncorporationOrResidence']]
df_currentApplicantProprietorDetails

  applicationNum uenCompanyCode  ... applicantType countryOfIncorporationOrResidence
0      T9912061Z     E00435345A  ...     Corporate                                SG

[1 rows x 5 columns]